.registerForm{
    width: 500px;
    background-color: #F5F7F8;
    border-radius: 14px;
    height: auto;
    max-width: 95%;
    margin: auto;
    padding: 20px 0;
    position: relative;
   // max-height: 500px;
    &.active{
        height: 500px;
    }
    form{
        
        position: absolute;
        height: 80%;
        display: block;
        width: 100%;
    }
    &__selectors{
        height: 100%;
        //display: none;
        &.hide{
            display: none;
        }
        label{
            cursor: pointer;
            padding: 10px 0;
            width: 125px;
            display: block;
            background-color: #000;
            /* width: 45%; */
            color: #fff;
            text-align: center;
            border-radius: 12px;
            text-transform: capitalize;
            transition: .25s;
            @include max(400px){
                width: 100px;
            }
            &:hover{
                background-color: #2A629A;
            }
        }
        input{
            display: none;
            &:checked ~label{
                background-color: #626262;
            }
        }
    }
    &__personal,&__company{
      display: none;
      margin-top: 50px;
      &.active{
        display: block;
      }
      input:not([type='checkbox']){
        width: 100%;
        border-color: #686D76;
        padding: 12px 15px;
        border-radius: 20px;
        background-color: rgba(#fff,.5);
       }
    }
    &__company{
        position: relative;
        .cardpricing__selectPlan--label{
            padding: 4px 17px;
        }
        .cardpricing__title{
            padding-top: 10px;
            padding-bottom: 5px;
        }
        .cardpricing__selectPlan{
            margin-bottom: 0;
        }
    }
    &__personal,&__company{
     //   display: block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        margin-top: 15px;
        .cardpricing {
           height: auto;
          
        }
        .cardpricing:not(.cardpricing__Enterprise){
            padding-bottom: 20px;
        }
        .cardpricing__Enterprise--getAqoute{
         border-bottom-left-radius: 12px;
         border-bottom-right-radius: 12px;
         padding-bottom: 50px;
        }
        &__container{
            >div{
               
                width: 90%;
                margin: auto;
                margin-bottom: 15px;
                &.pointer{
                    *{
                        cursor: pointer;
                    }
                }
            }
         
           
        }
    }
    &__company{
        &__container{
            //margin-top: 25px;
            height: 100%;
            form{
                >div{
                    width: 90%;
                    margin: auto;
                    margin-bottom: 15px;
                }
            }
        }
     
        &__container{
            .registerCompany__cards{
                
                &--switchPalns {
                    border: 1px solid $lightPink;
                    border-radius: 80px;
                    width: 262px;
                    margin: auto;
                    padding: 3px 5px;
                    position: relative;
                    &--input{
                        display: none;
                    }
                    &--label{
                        cursor: pointer;
                        position: relative;
                        z-index: 999999;
                        padding: 3px 0;
                        display: block;
                        
                    }
                    &--div{
                        cursor: pointer;
                        width: 50%;
                        cursor: pointer;
                        position: relative;
                        text-align: center;
                        &.active{
                            &::after{
                                background-color: #a7c78f !important;
                                width: 100%;
                                z-index: 99;
                            }
                            .registerCompany__cards--switchPalns--label{
                                color: $white;
                            }
                           
                        }
                        &::after{
                            @include after();
                            border-radius: 20px;
                            z-index: -1;
                            width: 0;
                            
                            transition: .5s;
                            
                        }
                    }
                }
            }
            .registerCompany__selectedItem{
                
    
                text-align: center;
                padding: 20px 0;
                border-radius: 10px;
                background-color: $white;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &--details{
                    &--inner{
                        &.no-error{
                            background-color: #000000;
                            width: 90%;
                            margin: auto;
                            margin-bottom: 10px !important;
                            border-radius: 10px;
                            padding: 10px 0;
                            font-style: italic;
                           }
                           >p{
                            color: #fff;
                            font-weight: 500;
                            width: 90%;
                            text-align: center;
                            margin: auto;
                            font-size: 17px;
                            margin-bottom: 5px;
                        }
                    }
                 
                   
                
                    &--error{
                        display: none;
                        color: #fff !important;
                        font-size: 16px;
                        font-style: italic;
                        background-color: #c31b1b;
                        width: 90%;
                        margin: auto;
                        border-radius: 15px;
                        padding: 5px 0;
                        font-weight: 600;
                        &.show{
                            display: block;
                        }
                    }
                    .content{
                        background-color: #2F3645;
                        font-size: 14px;
                        padding: 12px 0;
                        width: 90%;
                        margin: auto;
                        border-radius: 5px;
                        margin-bottom: 14px;
                        font-style: italic;
                        color: #fff;
                        /* color: #939185; */
                        h2{
                            margin-bottom: 10px !important;
                            font-weight: 500;
                            @include max(500px){
                                font-size: 14px;
                            }
                        }
                    }

                }
                .errorplan{
                  
                }
                .card-js{
                    width: 90%;
                    margin: auto;
                    &.hide{
                        display: none;
                    }
                    input{
                        color: $black !important;
                    }
                }
                h2{
                    margin-bottom: 25px;
                }
                input{
                    background: none !important;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-color: #33333340;
                    color: #fff;
                    background-color: #b1b6ba17 !important;
                    &::placeholder{
                        color: #2F3645;
                    }
                }
                .card-js .card-number-wrapper, .card-js .cvc-wrapper, .card-js .expiry-wrapper, .card-js .name-wrapper{
                    box-shadow: none !important;
                }

            }
            &--next{
                width: 100%;
                background-color: #000 !important;
                position: static;
                width: 80%;
                bottom: -10px;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 999999999999;
                display: block;
                position: absolute;
                bottom: 50px;
                @include max(500px){
                   // position: static;
                }
                &.hide{
                    display: none;
                }
            }
            &--pay{

                display: none;
                width: 100%;
                &.show{
                    display: block;
                }
            }
            &--steps{
                display: flex;
                margin-bottom: 30px !important;
                margin-top: 20px !important;
                span{
                    display: block;
                    width: calc(100% / 3);
                    
                    height: 3px;
                    position: relative;
                    background-color: #686D76;
                    &.active{
                        &::before{
                            width: 100%;
                        }
                    }
                    &::before{
                        @include before();
                        background-color: #b1daae  !important;
                        
                        top: 0px;
                        width: 0;
                        transition: .25s;
                       
                    }

                    &::after{
                        @include after();
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #000;
                        color: $white;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        top: -10px;
                       
                    }
                    &:nth-child(1){
                        &::after{
                            content: "1";
                        }
                    }
                    &:nth-child(2){
                        &::after{
                            content: "2";
                        }
                    }
                    &:nth-child(3){
                        &::after{
                            content: "3";
                        }
                    }
                    
                }
            }
            .companysteps{
                display: none;
                >div{
                    margin-bottom: 15px;
                }
                &.active{
                    display: block;
                }
            }
        }
    }
}