body{
  font-family: "DM Sans", sans-serif;
  &.fixed{
    .container__navbarDew{
      position: fixed;
      top: 0;
      width: 100%;
      background-color: $white;
      padding: 15px 0;
      z-index: 9999999999999;
      animation-name: slideUp;
      animation-duration: .5s;
      animation-timing-function: ease-in;
      animation-fill-mode: both;
    }
  }
  &.pricing {
  //  background-color: $grey;
  .container__navbarDew{
    background-color: $grey;
    box-shadow: 14px 4px 13.1px 0px #ABABAB40;
    padding: 20px 0;

  }
   
  }
 

}
.container__navbarDew {
  /*
max-width: 75%;
margin: auto;
*/
}
.container-generic{
  width: 75%;
  margin: auto;
  @include max(992px){
    width: 90%;
  }
}

.container-page{
  width: 1250px;
  margin: auto;
  max-width: 85%;
  @include max(769px){
    max-width: 90%;
  }
}
@keyframes slideUp {

  0%{
    top: -50px;
  }
  100%{
    top: 0;
  }
  
}