.saveTime{
    margin-top: 150px;
    &__container{
        background-color: $grey;
        border-radius: 22px;
        max-width: 990px;
        margin: auto;
        padding: 60px 0;
    }
    &__estimate{
     position: relative;
     width: 585px;
     max-width: 100%;
        &--form{
            background-color: $white;
            padding: 10px 25px;
            border-radius: 24px;
            padding: 30px 20px;
            padding-bottom: 50px;
            position: relative;
            z-index: 99;
        }
        &--formTwo{
        margin-top: 100px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--bkgroundBlue{
            position: absolute;
            bottom: 0;
            top: auto;
            height: 40px;
            width: 90%;
            left: 0;
            right: 0;
            margin: auto;
            background-color: $lighterBlue;
            filter: blur(23.149999618530273px);
            border-radius: 70px;
        }
      
        &--inputgroup{
            align-items: flex-end;
            &--line{
        width: 4px;
        height: 60px;
        background-color: $scndryGrey;
            }
            &--sign{
                transform: translateY(10px);
                margin-right: 5px;
            }
            &--input{
                font-family: "Outfit", sans-serif;
                font-size: 35px;
                color: $black;
               width: 200px;
                outline: 0 !important;
                border:none !important;
                display: block;
                padding-top: 20px;
                background: none;
                transform: translateY(5px);
                padding-left: 10px;
                &::placeholder{
                    font-family: "Outfit", sans-serif;
                    font-size: 55px;
                    color: $scndryGrey;
                    
                }
            }
        }
        .startSaving{
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            display: inline-block;
            width: 194px;
            bottom: -30px;
        }
    }
   
}