
.testmonial{
   padding-top: 100px;
   &__subheading{
    max-width: 500px;
   }
   &__swiper{
    width: 1050px;
    margin: auto;
    max-width: 100%;
    margin-top: 100px;
   }
 

  
}
.swiper-slide {

}